@model Chireiden.ModBrowser.Models.LocalizerPackage
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<Chireiden.ModBrowser.Resources.Localization> Loc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocalizerPackage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Loc["File"]
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Download" asp-route-id="@Model.Id">@Loc["Download"]</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTimeStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateTimeStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTimeStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateTimeStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModVersion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mod)
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink(Html.DisplayNameFor(model => model.Mod.Name), "Details", "Mods", new { id = model.Mod.Name })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
