@model ModBrowser.Models.Mod

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Model.Description.Replace("\r\n", "<br />")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModLoaderVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModLoaderVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModReferences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModReferences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Homepage)
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.Homepage)">@Html.DisplayFor(model => model.Homepage)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IconURL)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.IconURL)" />
            <a href="@Html.DisplayFor(model => model.IconURL)">@Html.DisplayFor(model => model.IconURL)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModSide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModSide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Downloads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Downloads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Name">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
